@model BOSamourai.ArtMartial

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Art Martial</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edition", "Edit", new { id = Model.Id }, new { @class = "btn btn-default btn-primary" }) |
    @Html.ActionLink("Retour à la liste", "Index",null, new { @class = "btn btn-default btn-primary" })
</p>
